body {
  padding-top: 110px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-box {
  margin-bottom: 0;
}

.title-box h1 {
  font-size: 2.2rem;
}

.title-box img {
  width: 55px;
  height: 55px;
}

.nav-search-box {
  display: flex;
  flex: 1;
  padding: 10px 1px;
}

.navbar-box {
  margin-right: 0;
}

.items {
  padding: 1px 5px;
}

.items a {
  font-size: 0.9rem;
}

.searchbar-box {
  display: none;
}

/*.searchbar-box {
  margin-left: 15px;
  margin-right: 5px;
}

.searchbar {
  height: 20px;
  border-radius: 10px;
}

.searchbar input {
  width: 70px;
  font-size: 1rem;
}

.searchbar input::placeholder {
  font-size: 1rem;
}

.searchbar div {
  height: 32px;
  width: 18px;
}

.searchbar-box img {
  display: none;
}*/

.home::before {
  height: 510px;
}

.home-title img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  padding-left: 7px;
}

.home p {
  font-size: 0.7rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.home button {
  margin-top: 10px;
  font-size: 1rem;
}

.services::before {
  height: 1600px;
}

.services h2 {
  display: none;
}

.second-title {
  display: block;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 38px;
  box-shadow: 5px 5px 8px darkmagenta;
}

.food-services-box {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.food-services h3 {
  font-size: 1.2rem;
}

.food-services {
  width: 240px;
}

.bulk-odering-pic {
  height: 330px;
  width: 240px;
}

.client::before {
  height: 600px;
}

.client h2 {
  width: 145px;
}

.client-box {
  flex-wrap: wrap;
}

.client-box img {
  height: 60px;
  width: 60px;
}

.client p {
  font-size: 0.7rem;
}

footer {
  height: 50px;
  padding: 0;
}

footer div {
  padding: 0;
}

.copyright {
  font-size: 0.3rem;
}

.bye {
  font-size: 1rem;
}

.greeting {
  font-size: 0.6rem;
}

/*utility-class*/

.title {
  /* display: inline-block;*/
  font-family: "Pacifico", cursive;
  font-size: 1.2rem;
  color: darkmagenta;
}

.services-pic {
  width: 210px;
  height: 120px;
  padding: 10px;
}
