body {
  padding-top: 100px;
}

.title-box h1 {
  font-size: 2.2rem;
}

.title-box img {
  width: 55px;
  height: 55px;
}

.navbar-box {
  margin-right: 15px;
}

.items {
  padding: 1px 5px;
}

.items a {
  font-size: 1.1rem;
}

.searchbar-box {
  margin-left: 15px;
  margin-right: 5px;
}

.searchbar {
  height: 30px;
  border-radius: 15px;
}

.searchbar input {
  width: 70px;
}

.searchbar div {
  height: 35px;
  width: 20px;
}

.searchbar-box img {
  width: 55px;
  height: 55px;
}

.home::before {
  height: 630px;
}

.home-title img {
  width: 42px;
  height: 42px;
  border-radius: 21px;
  padding-left: 7px;
}

.home p {
  font-size: 1.1rem;
}

.home button {
  margin-top: 10px;
}

.services::before {
  height: 1700px;
}

.food-services-box {
  display: flex;
  flex-wrap: wrap;
}

.food-services {
  width: 340px;
}

.bulk-odering-pic {
  height: 360px;
  width: 340px;
}

.client::before {
  height: 850px;
}

.client h2 {
  width: 214px;
}

.client-box {
  flex-wrap: wrap;
}

.client-box img {
  height: 140px;
  width: 140px;
}

footer {
  height: 80px;
  padding: 0;
}

footer div {
  padding: 5px;
}

.copyright {
  font-size: 0.6rem;
}

.bye {
  font-size: 1.7rem;
}

.greeting {
  font-size: 1.2rem;
}

/*utility-class*/

.title {
  /* display: inline-block;*/
  font-family: "Pacifico", cursive;
  font-size: 1.8rem;
  color: darkmagenta;
}

.services-pic {
  width: 280px;
  height: 190px;
  padding: 10px;
}
